<div *ngIf="viewMode; else editable">
  <div class="box" *ngIf="currentElement.id">
    <h4><b>Instituto educativo - Curso</b></h4>
    <div>
      <label><strong>Nombre:</strong></label> {{ currentElement.nombre }}
    </div>
    <div>
      <label><strong>Docente:</strong></label> 
      {{ currentElement.idDocente === 1 ? 'Matias Gonzalez' : currentElement.idDocente === 2 ? 'Ramon Perez' : currentElement.idDocente === 3 ? 'Pepe Morales' : 'Desconocido' }}
    </div>
    <div>
      <label><strong>Fecha inicio:</strong></label>
      {{ currentElement.fechaInicio | date:'dd/MM/yyyy'}}
    </div>
    <div>
      <label><strong>Tema:</strong></label>
      {{ currentElement.tema == null ? "-": currentElement.tema.nombre }}
    </div>    
    <a
      class="badge badge-warning"
      routerLink="/cursos/{{ currentElement.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentElement">
    <br />
    <p>Please click on a Post...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentElement.id" class="edit-form">
    <h4>Instituto educativo - Curso</h4>
    <form>
      <div class="form-group">
        <label for="title"><b>Nombre del curso</b></label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentElement.nombre"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="tema"><b>Tema</b></label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="temaEdit"
          name="tema"
        />
      </div>
      <div class="form-group">
        <label for="description"><b>Fecha inicio:</b></label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentElement.fechaInicio"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="nombre"><b>Docente</b></label>
        <input
          type="text"
          class="form-control"
          id="duracion"
          required
          [(ngModel)]="currentElement.idDocente"
          name="duracion"
        />
   
      </div>
      
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteElement()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateElement()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentElement.id">
    <br />
    <p>Elemento no encontrado...</p>
  </div>
</ng-template>

