<div>
  <div class="submit-form">
    <form #temaForm="ngForm">
		
      <h4><b>Añadir nuevo tema</b></h4>
      <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="tema.nombre"
          name="nombre"
          #nombreInput="ngModel"
        />
        <div *ngIf="nombreInput.invalid && nombreInput.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>
      
       <div class="form-group">
        <label for="nombre"><b>Duracion</b></label>
        <input
          type="text"
          class="form-control"
          id="duracion"
          required
          [(ngModel)]="tema.duracion"
          name="duracion"
          #duracionInput="ngModel"
        />
        <div *ngIf="duracionInput.invalid && duracionInput.touched" class="text-danger">
          El campo duracion es obligatorio.
        </div>
      </div>
      
      <button type="button" (click)="saveTema()" class="btn btn-success">Guardar</button>
    </form>
    <div *ngIf="submitted">
      <h4>El tema ha sido guardado con éxito!</h4>
    </div>
  </div>
</div>