/* lista y busqueda */
.custom-list {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.list-group-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

/* boton Remove All */
.custom-btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: not-allowed;
}

.custom-btn-danger:disabled {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  cursor: not-allowed;
}

/*barra de busqueda */
.input-group {
  margin-top: 10px;
}

.form-control {
  width: 70%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.input-group-append .btn {
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

/* titulo "Listado Cursos" */
h4 {
  font-size: 1.2em;
  margin: 10px 0;
}

b {
  font-weight: bold;
}
