<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
	  
    <div class="brand-container">
      <div class="brand-content">
        <a href="#" class="navbar-brand"><b>ANGULAR</b></a>
      </div>
    </div>
    
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="cursos" class="nav-link">Cursos</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Curso</a>
      </li>
      
      <div class="separator"></div>
      
      <li class="nav-item">
        <a routerLink="temas" class="nav-link">Temas</a>
      </li>
      <li class="nav-item">
        <a routerLink="addTema" class="nav-link">Add Tema</a>
      </li>
      
      <div class="separator"></div>
      
      <li class="nav-item">
        <a routerLink="alumnos" class="nav-link">Alumnos</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="addAlumno" class="nav-link">Add Alumno</a>
      </li>
      
      <div class="separator"></div>
      
      <li class="nav-item">
        <a routerLink="materiales" class="nav-link">Materiales</a>
      </li>
      
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


