<div>
  <div class="submit-form">
    <form #cursoForm="ngForm">
      <h4><b>Añadir nuevo curso</b></h4>
      <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="curso.nombre"
          name="nombre"
          #nombreInput="ngModel"
        />
        <div *ngIf="nombreInput.invalid && nombreInput.touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>
      <div class="form-group">
        <label for="tema"><b>Tema</b></label>
        <select class="form-control" [(ngModel)]="selectedTemaId" (ngModelChange)="retrieveMaterialesPorCurso()">
          <option disabled selected value=""><b>Selecciona un tema</b></option>
          <option *ngFor="let tema of temas" [value]="tema.id">{{ tema.nombre }}</option>
        </select>
        
      </div>

      <div class="form-group" *ngIf="selectedTemaId">
  		<label for="material">Materiales del tema</label>
  		<ul>
    	<li *ngFor="let materialT of materialesTema">
      		<input type="radio" [value]="materialT.id" [(ngModel)]="selectedMaterialId" disabled>
      		{{ materialT.titulo }}
    	</li>
  		</ul>
	 </div>
      
      
      
      <div class="form-group">
        <label for="fechaInicio"><b>Fecha inicio</b></label>
        <input
          type="date"
          class="form-control"
          id="fechaInicio"
          required
          [(ngModel)]="curso.fechaInicio"
          name="fechaInicio"
          #fechaInput="ngModel"
        />
       <div *ngIf="!curso.fechaInicio" class="text-danger">
    		La fecha es obligatoria.
  	   </div>
      </div>
      
      
      <div class="form-group">
        <label for="docente"><b>Docente</b></label>
        <select class="form-control" id="docente" required [(ngModel)]="curso.idDocente" name="docente">
          <option disabled selected value="">Seleccione un docente</option>
          <option value="1">Matias Gonzalez</option>
          <option value="2">Ramon Perez</option>
          <option value="3">Pepe Morales</option>
        </select>
        <div *ngIf="cursoForm.controls['docente'].invalid && cursoForm.controls['docente'].touched" class="text-danger">
          Seleccione un docente.
        </div>
      </div>
      <button type="button" (click)="saveCurso()" class="btn btn-success" [disabled]="!curso.nombre || !curso.fechaInicio">Guardar</button>
    </form>
    <div *ngIf="submitted">
      <h4>El curso ha sido guardado con éxito!</h4>
    </div>
  </div>
</div>